[buildout]
index = https://packages.lizard.net
find-links =
prefer-final = true
socket-timeout = 1
show-picked-versions = true
extensions =
    mr.developer
parts =
    test
    omelette
    console_scripts
develop = .
eggs =
    qgispluginreleaser


[versions]
# Specific pins
qgispluginreleaser =

# Reported by buildout.


[sources]
# Examples:
# lizard-ui = git git@github.com:lizardsystem/nensskel.git


[test]
recipe = pbp.recipe.noserunner
eggs =
    qgispluginreleaser
    qgispluginreleaser[test]
defaults = qgispluginreleaser


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    createcoverage
    pep8
    pyflakes
    zest.releaser
